html {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.topnavbar {
    height: 60px;
    background-color: rgb(48, 48, 234);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.topnavbar p {
    float: left;
    display: block;
    color: rgb(225, 225, 93);
    text-align: center;
    padding: 7px;
    text-decoration: none;
}

.homepage {
    color: rgb(225, 225, 93);
    height: 596px;
    width: 1000px;
    background-image: url('./image.png');
    /* 1280x763 */
    background-size: 1000px 596px;
}

#mypic {
    position: absolute;
    top: 100px;
    left: 750px;
    height: 200px;
    width: 180px;
    border-radius: 50%;
    border: inset 5px rgb(202, 202, 176);
}

#camp {
    position: absolute;
    top: 350px;
    left: 250px;
}

.titlechunk {
    height: 40px;
    width: 1000px;
    background-color: rgb(225, 225, 93);
}

.projcontainer {
    display: flex;
    gap: 3%;
    justify-content: start;
    background-color: rgb(133, 24, 24);
}

.proj-item {
    border: 6px solid rgb(208, 129, 11);
    color:rgb(96, 206, 114);
    text-align: left;
    width: 300px;
    border-radius: 15px;
    background-color: navy;
}

.bottombar {
    height: 60px;
    left: 0;
    background-color: rgb(225, 225, 93);
    position: fixed;
    bottom: 0;
    width: 100%;
}

.bottombar p {
    float: left;
    display: block;
    color: rgb(48, 48, 234);
    text-align: center;
    padding: 7px;
    text-decoration: none;
}

.main {
    margin-top: 70px;
    margin-bottom: 70px; 
}