html {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.topnavbar {
    background-color: rgb(48, 48, 234);
    position: fixed;
    top: 0;
    width: 100%;
}

.topnavbar p {
    float: left;
    display: block;
    color: rgb(225, 225, 93);
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

.bottombar {
    background-color: rgb(225, 225, 93);
    position: fixed;
    bottom: 0;
    width: 100%;
}

.main {
    margin-top: 70px;
    margin-bottom: 70px; 
}